  body {
            display: grid;
            grid-template-rows: auto 1fr;
            grid-template-columns: 200px 1fr;
            height: 100vh;
            margin: 0;
        }
        header {
            grid-column: 1 / span 2;
            background: #f0f0f0;
            padding: 10px;
            text-align: center;
        }
        nav {
            grid-row: 2;
            background: #eaeaea;
            padding: 70px;
        }
        main {
            grid-row: 2;
            grid-column: 2;
            overflow: auto;
        }
        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
        nav a {
            display: block;
            margin: 8px 0;
            text-decoration: none;
            color: #333;
        }
        nav a:hover {
            color: #0066cc;
        }
        header img {
            width: 400px;   
            height: auto;  
            margin: 10px;   
        }
