body {
  background-color:white;
  font-family: 'Segoe UI', sans-serif;
  color: #2c2c2c;
  margin: 40px;
}

h1 {
  text-align: center;
  font-size: 40px;
  color: blue;
  margin-bottom: 30px;
}

h2 {
  text-align: center;
  font-size: 28px;
  color: blue;
  margin-bottom: 5px;
}

h3 {
  background-color: #00ff00;
  text-align: center;
  font-size: 20px;
  color: blue;
  margin-top: 0;
}

h4 {
  color: #0000ff;
  font-size: 18px;
  margin-bottom: 10px;
}

hr {
  border: none;
  border-top: 5px solid #00ff00;
  margin: 20px 0;
}

section {
  margin-bottom: 20px;
}

ul {
  padding-left: 20px;
}

{

}