
        table, tr, td,th {
     border: 1px black solid ;
     border-collapse: collapse ;
     width: 1000px;
     height: 100px;
     text-align: center;
     color: rgb(82, 49, 24);
     background-color: #fff4e8; 
};
        
    
        .vertical-text {
            writing-mode: vertical-rl;
        }

        .oblique-montant {
            display: inline-block;
            transform: rotate(-30deg);
        }

        .oblique-descendant {
            display: inline-block;
            transform: rotate(30deg);
        }
       table {
    border-collapse: collapse;
    width: 70%;
    text-align: center;
}

th, td {
    border: 1px solid brown;
    padding: 8px;
}


td:nth-child(1), th:nth-child(1) {
    background-color:#fff4e8; 
}; 



td:nth-child(2), th:nth-child(2) {
    background-color:#fff4e8; 
}; 


td:nth-child(3), th:nth-child(3) {
    background-color:#fff4e8; 
}; 


td:nth-child(4), th:nth-child(4) {
    background-color:#fff4e8; 
}; 
